body{
    display: flex;
    background-color: aquamarine;
    height: 80%;
}

main{
    margin: auto;
    display: flex;
    background-color: white;
    width: 80%;
}
.left{
    flex-direction: column;
    background-color: black;
    width: 40%;
    height: auto;
}

img{
    max-width: 100%;
    height: 10%;
    clip-path: inset(0 20%);
}

.habilidades{
    width: auto;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.puntos{
    color: white;
}

.texto{
    color: rgb(0, 52, 87)
}

.subtitle{
    color: rgb(128, 93, 29);
}

.exp{
    width: 60%;
}

.info{
    height: auto;
    width: auto;
    padding: 2% 5% 2% 5%;
}

h1{
    color: rgb(128, 93, 29);
    font-size: 300%;
    margin-bottom: 2%;
}