/* @import url('https://fonts.googleapis.com/css?family=Exo:400,700'); */
*{
    box-sizing: border-box;
    font-family: Arial;
    background-color: rgb(196, 196, 196);
}
body{
    font-family: 'Exo', sans-serif;
}