@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
*{
    font-family: 'Comic Neue', cursive;
    box-sizing: border-box;
}
body{
    height: 98vh;
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar1{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50vw;
    justify-content: flex-start;
}
.navbar2{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}

.booglenav{
    padding-right: 15px;
    border-right: solid black 1px;
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    
}
.buscador{
    visibility: hidden;
}
input[type="search"]{
    width: 80%;
    height: 5vh;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
}
button{
    height: 70%;
    width: 50%;
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    font-size: 2em;
    background-color: white;
    box-shadow: 10px 10px black;
}
h2{
    font-size: 10em;
    margin:  0px; 
}
.foot{
    align-items: center;
    display: flex;
    gap: 10em;
}

p{
    margin: auto;
}
.soluciones{
    padding-left: 50px;
    padding-right: 50px;
    border-left: solid black 1px;
    border-right: solid black 1px;
}

.botones{
    display: flex;
    width: 80%;
    gap: 10%;
}
